<h1> See all events </h1>
<% @events.each do |event| %>
<%= link_to event_path(event) do %>
<p><%= event.name %> starting <%= start_of_event(event)%> ending <%=end_of_event(event)%> in <%= event.location  %> </p>
<% end %>
<% end %>